<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mariana.spt</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/spt</string>
        <string>tunnel</string>
        <string>run</string>
        <string>--foreground</string>
        <string>--config</string>
        <string>/usr/local/etc/spt/spt.toml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>StandardOutPath</key>
    <string>/var/log/spt/spt.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/spt/spt.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SPT_STATE_DIR</key>
        <string>/usr/local/var/spt</string>
        <key>RUST_LOG</key>
        <string>info</string>
    </dict>
</dict>
</plist>
