<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{label}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{exec_path}}</string>
{{args_array}}
    </array>
    <key>WorkingDirectory</key>
    <string>{{working_dir}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <{{keep_alive}}/>
    <key>StandardOutPath</key>
    <string>{{stdout_path}}</string>
    <key>StandardErrorPath</key>
    <string>{{stderr_path}}</string>
    <key>EnvironmentVariables</key>
    <dict>
{{env_dict}}
    </dict>
{{user_keys}}
</dict>
</plist>
